<form [formGroup]="completedGameForm" (ngSubmit)="onSubmit()">

  <label for="title">Title: </label>
  <input id="title" type="text" formControlName="title">
  <br />
  <label for="ratio">Ratio: </label>
  <input id="ratio" type="number" formControlName="ratio">
  <br />
  <label for="time">Time: </label>
  <input id="time" type="number" formControlName="time">
  <br />
  <label for="value">Value: </label>
  <input id="value" type="number" readonly formControlName="value">
  <br />
  <button type="submit" [disabled]="!completedGameForm.valid">Submit</button>

</form>
