<div>
  <label>Select your Player: </label>
  <select #playerSelect (change)="updatePlayerProfile(playerSelect.value)">
    <option value="0">--None--</option>
    <option *ngFor="let player of players" value={{player.id}}>
      {{player.name}}
    </option>
  </select>
</div>

<button (click)="retrieveCompletedGames(playerSelect.value)">Sync All Data</button>
<br />
<button (click)="generateRandomGame(playerSelect.value)">Generate Random Games</button>
<br />
<button (click)="verifyRandomGameEligibility()">Verify Random Game Eligibility</button>
<br />
<button (click)="getFullPlayerCompatability()">Generate Player Compatability</button>
<br />
<button (click)="updateGameInfo()">Update Game Info</button>
<br />
<button (click)="testGwgParse()">Parse GwG</button>


<div *ngFor="let game of completedGames">
  <h3>{{game.title}}</h3>
  <div>Ratio: {{game.ratio}}</div>
  <div>Time: {{game.time}}</div>
</div>

